@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
    background-image: url(VLUBg1.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.container {
    max-width: 700px;
    width: 100%;
    /* background-color: #fff; */
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    background: rgba(255,255,255,0.20);
}

    .container .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
        color: #fff;
    }

        .container .title::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            border-radius: 5px;
            /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
            background: linear-gradient(135deg, #FF4242, #47ABD8);
        }

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(655px / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #fff;
}

.user-details .input-box input {
    height: 45px;
    width: 315px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    color: black;
}

.user-details .input-box select {
    height: 45px;
    width: 150px;
    outline: none;
    font-size: 16px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-radius: 5px;
    border-bottom-width: 2px;
    overflow: hidden;
    position: relative;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;

}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
    color: #fff;
}

    form .category label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

        form .category label .dot {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            margin-right: 10px;
            background: #d9d9d9;
            border: 5px solid transparent;
            transition: all 0.3s ease;
        }

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
    /* background: #9b59b6; */
    background: red;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

    form .button input {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
        background: linear-gradient(135deg, #FF4242, #47ABD8);
    }

        form .button input:hover {
            /* transform: scale(0.99); */
            /* background: linear-gradient(-135deg, #71b7e6, #9b59b6); */
            background: linear-gradient(-135deg, #FF4242, #47ABD8);
        }

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}

label.details {
    color : white;
}

.text-danger
{
    color:wheat;
    width:660px;
}

