@import url();
*
{
    color : white;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(VLUBg1.jpg);
    background-size: cover;
    background-position: center;
}
/* body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(30% at right 70%);
}
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
} */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.container .card .content {
    padding: 20px 50px 50px 50px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}
/* .container .card .content h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}
.container .card .content h3 {
    font-size: 1.8em;
    color: white;
    z-index: 1;
} */
.container .card .content p {
    padding-top: 12px;
    font-size: 1em;
    color: white;
    font-weight: 300;
}
.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 12px 25px;
    margin-top: 15px;
    background:red;
    color:white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.container .card .content img {
    padding-top: 12px;
    font-size: 1em;
    color: white;
    font-weight: 300;
}
.btnlogin {
    position: relative;
    display: inline-block;
    padding: 12px 25px;
    margin-top: 15px;
    background: red;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}



