@{
    Layout = null;
    ViewBag.Title = "Log in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="@Url.Content("~/assets/style.css")" />
</head>
<body>
    <div class="steps">
        <div class="text-center container"><p>Hướng dẫn sử dụng chức năng Import </p></div>
        <p class="step color1">
            Bước 1 : Người dùng tải File Excel Template của Website cung cấp
        </p>
        <p class="step color2">Bước 2 : Người dùng copy nội dung vào file Excel</p>
        <p class="step color3">Bước 3 : Người dùng chọn Import và chọn file Excel từ máy </p>
        <p class="step color4">Bước 4 : Người dùng chọn nút Upload</p>
        <p class="step color5">Bước 5 : Đợi hệ thống nhập dữ liệu và sau đó nhấn quay lại ở trình duyệt</p>
    </div>
</body>
</html>
