:root {
    --color_log_cabin_approx: #232323;
    --white: #fff;
    --black: #000;
    --color_allports_approx: #0073a5;
    --color_cerulean_approx: #009fe5;
    --concrete: #f2f2f2;
    --color_thunderbird_approx: #c02424;
    --color_tuna_approx: #373a3c;
    --color_storm_dust_approx: #656565;
    --seashell: #f1f1f1;
    --color_mercury_approx: #e6e6e6;
    --color_quill_gray_approx: #d5d5d5;
    --color_mandy_approx: #dc4a58;
    --color_fuscous_gray_approx: #4e4e4e;
    --color_masala_approx: #3a3a3a;
    --color_danube_approx: #5a7ec9;
    --color_monza_approx: #bc0014;
    --color_scooter_approx: #28aae1;
    --color_pomegranate_approx: #f63e28;
    --alabaster: #fafafa;
    --color_gray_approx: #828282;
    --color_iron_approx: #d6d6d6;
    --color_mine_shaft_approx: #313131;
    --color_celeste_approx: #cbcbcb;
    --color_alto_approx: #d9d9d9;
    --color_deep_cerulean_26_approx: rgba(0,126,182,.26);
    --color_viking_approx: #62bee6;
    --color_boston_blue_approx: #3a87ad;
    --color_link_water_approx: #d9edf7;
    --color_charlotte_approx: #bce8f1;
    --color_black_haze_approx: #f7f7f7;
    --color_concrete_approx: #f3f3f3;
    --color_cedar_approx: #3e1a1a;
    --color_picton_blue_approx: #39b3e6;
    --black_20: rgba(0,0,0,.2);
    --black_53_3: rgba(0,0,0,.53);
    --black_75: rgba(0,0,0,.75);
    --black_50: rgba(0,0,0,.5);
}
:root {
    --blue: #1177d1;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #d43f3a;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #398439;
    --teal: #20c997;
    --cyan: #5bc0de;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #1177d1;
    --secondary: #ced4da;
    --success: #398439;
    --info: #5bc0de;
    --warning: #f0ad4e;
    --danger: #d43f3a;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}